Wind Pred NodeRed flow.json
[{"id":"4501ca8e.46c0f4","type":"tab","label":"Wind_Prediction","disabled":false,"info":""},{"id":"e7e9f0c3.36ae1","type":"function","z":"4501ca8e.46c0f4","name":"PreToken","func":"global.set(\"date\",msg.payload.date)\nglobal.set(\"sp\",msg.payload.sp)\nglobal.set(\"dir\",msg.payload.dir)\n\nvar apikey=\"Yk2xT5XMCo_h0kL0jDBsP-d9Hv-j4gEym1ep2pmT-RhG\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":300,"wires":[["871b4ef9.97d5a8"]]},{"id":"871b4ef9.97d5a8","type":"http request","z":"4501ca8e.46c0f4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":300,"wires":[["fa6bb9be.85da5","7c8268b7.1d464"]]},{"id":"ff009350.e289f8","type":"debug","z":"4501ca8e.46c0f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":60,"wires":[]},{"id":"fa6bb9be.85da5","type":"function","z":"4501ca8e.46c0f4","name":"Pre Prediction","func":"var dat = global.get('date')\nvar sp = global.get('sp')\nvar dir = global.get('dir')\n\nvar date = Date.parse(dat); \n\nvar token=msg.payload.access_token\nvar instance_id=\"e5458325-e964-4bd8-9f1b-ac22085beec2\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload = {\"fields\": [\"Date/Time\",\"Wind Speed (m/s)\",\"Wind Direction (°)\"],\"values\": [[date,sp,dir]]}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":220,"wires":[["230fd78e.a1fef8"]]},{"id":"230fd78e.a1fef8","type":"http request","z":"4501ca8e.46c0f4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/e5458325-e964-4bd8-9f1b-ac22085beec2/deployments/6fdc4db7-8094-4435-92a3-ef9a9264ac3d/online","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":280,"wires":[["d4a9e68a.1ca5d8","35dfe697.95adca"]]},{"id":"13eff1a9.5b3d56","type":"ui_form","z":"4501ca8e.46c0f4","name":"","label":"","group":"cba0ce2b.9f5a08","order":1,"width":0,"height":0,"options":[{"label":"Enter Date and Time in the format mm/dd/yy hh:mm:ss","value":"date","type":"text","required":true,"rows":null},{"label":"Enter wind speed","value":"sp","type":"number","required":true,"rows":null},{"label":"Enter wind Direction","value":"dir","type":"number","required":true,"rows":null}],"formValue":{"date":"","sp":"","dir":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":340,"wires":[["3396e5fc.110482","e7e9f0c3.36ae1"]]},{"id":"b500e1d5.211168","type":"ui_text","z":"4501ca8e.46c0f4","group":"cba0ce2b.9f5a08","order":3,"width":0,"height":0,"name":"","label":"Predicted Wind Energy Output:","format":"{{msg.payload}}","layout":"row-left","x":790,"y":120,"wires":[]},{"id":"35dfe697.95adca","type":"function","z":"4501ca8e.46c0f4","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":100,"wires":[["ff009350.e289f8","b500e1d5.211168"]]},{"id":"7c8268b7.1d464","type":"debug","z":"4501ca8e.46c0f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":400,"wires":[]},{"id":"d4a9e68a.1ca5d8","type":"debug","z":"4501ca8e.46c0f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":360,"wires":[]},{"id":"c5d42763.66ba7","type":"debug","z":"4501ca8e.46c0f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":480,"wires":[]},{"id":"3396e5fc.110482","type":"function","z":"4501ca8e.46c0f4","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":400,"wires":[["c5d42763.66ba7"]]},{"id":"cba0ce2b.9f5a08","type":"ui_group","z":"","name":"Predictor","tab":"7bf28c52.ba9784","order":1,"disp":true,"width":"10","collapse":false},{"id":"7bf28c52.ba9784","type":"ui_tab","z":"","name":"Wind Energy Prediction","icon":"dashboard","disabled":false,"hidden":false}]